body{
    background-color: olivedrab;
}
li{
    font-weight: bold;
}
img{
    /* height:150px;
    width: 100%;
     */

    border: 1px solid #ddd;
    border-radius: 4px;
    width:auto;
    height: auto;
    justify-content: center;
    margin-left:auto; 
    margin-right:auto;
}
ol{
    text-decoration:double;
}
footer{
    text-align: center;
}
.barras{
    background-color: #f9db5c;
    justify-content: space-evenly;
    padding-left:20px ;
}

.iconoPlano{
    width: 33px;
    justify-content: space-evenly;
    margin-left: 13px;
    margin-right: 13px;
    height: 33px;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
